.storyBoard {
    clear: both;
}

.cardboard .columnHeader {
    color: #808080;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    height: 69px;
    padding: 5px 5px;
}

#newThemeInputs {
    float: left;
    vertical-align: middle;
}

.addNewLabel {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    vertical-align: middle;
}

#widget_themeDropdownInnerDiv {
    font-family: arial, tahoma, helvetica, sans-serif;
    vertical-align: middle;
}

#newThemeName {
    border: 1px solid #C6C6C6;
    padding: 2px 1px 1px 2px;
    margin: 0;
    outline: none;
    line-height: 13.667px;
    height: 13.667px;
    vertical-align: middle;
}

#newThemeButton {
    vertical-align: middle;
}

.simpleCard {
    border: solid 1px #C6C6C6;
    color: #333333;
    max-width: 148px;
    font-family: arial, tahoma, helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.simpleCard a {
    color: #333333;
}

.simpleCard .cardContent {
    background: #b2e3b6;
    height: 45px;
    font-size: 12px;
    overflow: hidden;
}

.simpleCard .cardContent a:hover {
    text-decoration: underline;
}

.themeCard {
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 2px #88ACBC;
    border-right: solid 2px #88ACBC;
}

.themeCard, .themeCard .cardContent {
    background: #B5D8EB;
}

.instructions {
    max-width: 1000px;
    font-size: 14px;
    color: #333333;
}

.instructions .quote {
    font-size: 14px;
    color: #333333;
    float: left;
    padding-top: 20px;
}

.instructions p {
    width: 400px;
    font-size: 12px;
}

.instructionsTitle {
    font-weight: bold;
}

.exampleImage {
    float: left;
    margin: 10px;
    /* for IE */
    filter: alpha(opacity = 70);
    /* CSS3 standard */
    opacity: 0.7;
}